<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <p>The delete user and user index api routes are restricted to users with the 'admin' role.</p>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="user in users">
      <strong>{{user.name}}</strong><br>
      <span class="text-muted">{{user.email}}</span>
      <a ng-click="delete(user)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
    </li>
  </ul>
</div>

<button ng-click="addCategory(category)">Add Category</button>
<div class="container">
  <p>Add, edit or delete Category.</p>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="category in categories">
   
         <a ng-click="deleteCategory(category)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
        <strong editable-text="category.name" onaftersave="updateCategory(category)">{{category.name}}</strong>
     
    </li>
  </ul>
</div>


<button ng-click="addProduct(product)">Add Product</button>
<div class="container">
  <p>Add, edit or delete products.</p>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="product in products">
     






<div ng-show="addProductForm.$visible">Product Categories
      <a href="#" editable-checklist="product.categories"  e-name='addProductFor' ng-show="addProductForm.$visible" e-ng-options="category.name for category in categories" > {{showCategories(product)}}</a></div>

    







      <form editable-form name="addProductForm" onaftersave="update(product)" >
        <div ng-show="addProductForm.$visible">Product Name</div>
        <strong editable-textarea="product.name" e-cols='65' e-rows='1'>{{product.name}}</strong><br>

        <div ng-show="addProductForm.$visible">Product Price
        <span class="text-muted" editable-text="product.price">{{product.price}}</span></div>
        <div ng-show="addProductForm.$visible">Product Description
        <span class="text-muted" editable-text="product.description" ng-show="addProductForm.$visible">{{product.description}}</span></div>
      



        <div ng-show="addProductForm.$visible">is available?
        <span class="text-muted" editable-select="product.isAvailable" e-name='addProductForm' ng-show="addProductForm.$visible" e-ng-options="s for s in [true, false]">{{product.isAvailable}}</span></div>
      
        <div ng-show="addProductForm.$visible">Product Pictures
        <span class="text-muted" editable-text="product.pictures[0]">{{product.pictures[0]}}</span></div>
       

 



        <!-- <div ng-show="addProductForm.$visible">Product Categoriesk, {{showCategories()}}
        <a href="#" editable-checklist="category.name" e-name='addProductForm' ng-show="addProductForm.$visible" e-ng-options="category.name for category in categories" > {{showCategories()}}</a></div> -->
        




        <button type="button" ng-click="addProductForm.$show()" ng-show="!addProductForm.$visible" ng-hide="addProductForm.$visible">Edit Product</button>
        <div>
          <span ng-show="addProductForm.$visible">
          <button type="submit" class="glyphicon glyphicon-saved" ng-disabled="addProductForm.$waiting">
          Save
          </button>
          <button type="button" class="glyphicon glyphicon-remove-sign" ng-disabled="addProductForm.$waiting" ng-click="addProductForm.$cancel()">
          Cancel
          </button>
          </span>
          <button class="glyphicon glyphicon-trash" ng-click="deleteProduct(product)" ng-show="addProductForm.$visible"> Remove Product</button>
        </div>
      </form>

    </li>
  </ul>
</div>
<!-- var ProductSchema = new Schema({
name: String,
description: String,
price: Number,
isAvailable: Boolean,
pictures: Array,
categories: Array
}); -->