<div ng-include="'components/navbar/navbar.html'"></div>






<br>

<br>
<br>
<br>
<br>
<br>
<br>
<ul class="list-group">
    <li class="list-group-item" ng-repeat="order in pastOrders  | filter:{ status: 'ClosedCart' }">
      <strong >Order ID: {{order._id}}</strong><br>
      <strong>Cart Status: {{order.status}} </strong><br>
      <ul>
        <li ng-repeat = 'line in order.lineItems'>{{line.name}}, {{line.quantity}} X {{line.purchasePrice }} = {{line.totalPrice | currency}}</strong>
        </li>

      </ul>
      
      
      <a ng-click="delete(user)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
    </li>
  </ul>