<div ng-include="'components/navbar/navbar.html'"></div>

<div class="intro-header">
<div class="container main">
<div class="row">
<div class="damit col-lg-12">
  <div class="intro-message">
    <h1>Stack Store</h1>
    
  </div>
  <h3>Your one stop shop for anything you want!</h3>
  <h3>Better than Amazon!</h3>
  <hr class="intro-divider">
</div>
</div>
</div>
</div>
<hr>
<div class="container">
<!-- Title -->
      <form class="search-product-form">
      <p class="input-group">
      <input type="text" class="form-control" placeholder="search" ng-model="search">
      <span class="input-group-btn">
       <button type="submit" class="btn btn-primary" >Search</button>

      </span>
      </p>
    </form>
<div class="row">
<div class="col-lg-12">



    <md-button ng-click='searchForCat()'>Category:</md-button>
  <div class="btn-group">
     <button ng-repeat="category in categories" ng-click="matchCatWithProds(category)" class="btn btn-primary">
        {{category.name}}
     </button>
  </div>
<h3>Latest Products</h3>
</div>
</div>
<!-- /.row -->

<!-- Page Features -->
<div class=" jumbotron row text-center">
<div ng-repeat='product in products | filter:search' class="col-md-3 col-sm-6 hero-feature" >
  <div class="thumbnail hero11">
  <a href="/product/{{product._id}}"><img ng-src='{{product.pictures[0]}}' height="250" width="150" class="img-responsive"></a>
  <div class="caption">
    <h3>{{product.name}}</h3>
    <p>{{product.description | limitTo: 90}}...</p>
    <p>
    

     <md-button  ng-click='addToCart(product)' class="md-raised md-primary mainAddCart">Add to Cart!</md-button>
    <a href="/product/{{product._id}}" class=" moreInfo btn btn-default">More Info</a>

    </p>
  </div>
</div>
</div>
</div>
<!-- /.row -->
 <!--      start of Footer -->
<footer>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <ul class="list-inline">
        <li>
          <a href="#/">Home</a>
        </li>
        <li class="footer-menu-divider">&sdot;</li>
        <li>
          <a href="#about">About</a>
        </li>
        <li class="footer-menu-divider">&sdot;</li>
        <li>
          <a href="#services">Services</a>
        </li>
        <li class="footer-menu-divider">&sdot;</li>
        <li>
          <a href="#contact">Contact</a>
        </li>
      </ul>
      <p class="copyright text-muted small">Copyright &copy; Your Company 2014. All Rights Reserved</p>
    </div>
  </div>
</div>
</footer>




    

<!-- /.container -->