<div ng-include="'components/navbar/navbar.html'"></div>
<!--
<form class="thing-form">
  <label>Syncs in realtime across clients</label>
  <p class="input-group">
  <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
  <span class="input-group-btn">
  <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
  </span>
  </p>
</form>
</div>
<footer class="footer">
<div class="container">
  <p>Angular Fullstack v2.0.13 |
  <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
  <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
</div>
</footer> -->
<!--
<form class="search-product-form">
<label>Check out our cool products</label>
<p class="input-group">
<input type="text" class="form-control" placeholder="search" ng-model="products.name">
<span class="input-group-btn">
<button type="submit" class="btn btn-primary" ng-click="addThing()">Search</button>
</span>
</p>
</form>
</div>
<div class="container">
<div class="row">
<div class="col-lg-12">
  <h1 class="page-header">Categories</h1>
  <div ng-repeat='categorie in categories'>
    <a href="/categorie.name"></a> {{categorie.name}}
  </div> -->
<!--   </div>
</div> <form class="thing-form">
<label>Syncs in realtime across clients</label>
<p class="input-group">
<input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
<span class="input-group-btn">
<button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
</span>
</p>
</form>
</div> -->
<!-- <footer class="footer">
<div class="container">
<p>Angular Fullstack v2.0.13 |
<a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
<a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
</div>
</footer> -->
<!-- <form class="search-product-form">
<label>Check out our cool products</label>
<p class="input-group">
<input type="text" class="form-control" placeholder="search" ng-model="products.name">
<span class="input-group-btn">
<button type="submit" class="btn btn-primary" ng-click="addThing()">Search</button>
</span>
</p>
</form>
</div>
-->
<!-- here is the old html -->
<!-- Header -->
<!--   <a name="about"></a>
<div class="container">
<div class="row">
<div class="col-lg-12">
<h1 class="page-header">Categories</h1>
<ul class='list-inline'>
<li ng-repeat='product in products | limitTo: 7'>
  <h1>{{product.name}} is {{product.price}}</h1>
  <a href="/product/{{product._id}}"><img ng-src='{{product.pictures[0]}}'></a>
</li>
</ul>
</div>
</div>
<!-- Page Content -->
<!-- Jumbotron Header -->
<!--   <header class="jumbotron hero-spacer">
<h1>A Warm Welcome!</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
<p><a class="btn btn-primary btn-large">Call to action!</a>
</p>
</header> -->

<div class="intro-header">
<div class="container main">
<div class="row">
<div class="col-lg-12">
  <div class="intro-message">
    <h1>Stack Store</h1>
    <form class="search-product-form">
      <p class="input-group">
      <input type="text" class="form-control" placeholder="search" ng-model="search">
      <span class="input-group-btn">
      <button type="submit" class="btn btn-primary" >Search</button>

      </span>
      </p>
    </form>
  </div>
  <h3>Your one stop shop For anything you want!</h3>
  <h3>Better then Amazon!</h3>
  <hr class="intro-divider">
</div>
</div>
</div>
</div>
<hr>
<div class="container">
<!-- Title -->
<div class="row">
<div class="col-lg-12">



    <md-button ng-click='searchForCat()'>Click Here To search using Category</md-button>
  <div class="btn-group">
     <button ng-repeat="category in categories" ng-click="matchCatWithProds(category)" class="btn btn-primary">
        {{category.name}}
     </button>
     <div>{{cloths}}</div>
  </div>
<h3>Latest Products</h3>
</div>
</div>
<!-- /.row -->

<!-- Page Features -->
<div class=" jumbotron row text-center">
<div ng-repeat='product in products | filter:search' class="col-md-3 col-sm-6 hero-feature" >
  <div class="thumbnail hero11">
  <a href="/product/{{product._id}}"><img ng-src='{{product.pictures[0]}}' height="350" width="150" class="img-responsive"></a>
  <div class="caption">
    <h3>{{product.name}}</h3>
    <p>{{product.description | limitTo: 90}}...</p>
    <p>

     <md-button  ng-click='addToCart(product)' class="md-raised md-primary mainAddCart">Add to Cart!</md-button>
    <a href="/product/{{product._id}}" class=" moreInfo btn btn-default">More Info</a>

    </p>
  </div>
</div>
</div>
</div>
<!-- /.row -->
 <!--      start of Footer -->
<footer>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <ul class="list-inline">
        <li>
          <a href="#/">Home</a>
        </li>
        <li class="footer-menu-divider">&sdot;</li>
        <li>
          <a href="#about">About</a>
        </li>
        <li class="footer-menu-divider">&sdot;</li>
        <li>
          <a href="#services">Services</a>
        </li>
        <li class="footer-menu-divider">&sdot;</li>
        <li>
          <a href="#contact">Contact</a>
        </li>
      </ul>
      <p class="copyright text-muted small">Copyright &copy; Your Company 2014. All Rights Reserved</p>
    </div>
  </div>
</div>
</footer>
<!-- /.container -->