<div ng-include="'components/navbar/navbar.html'"></div>
<div class="row">
  <div class="col-md-2 recomendations">
    <p class="lead">Recomendations</p>
    <div>is available?
       </div>
    <div class="list-group">
      <a href="#" class="list-group-item active">ITEMS here</a>
    </div>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="media">
          <div class="pull-left row">
            <img class="media-object img-rounded" ng-src="{{product.pictures[0]}}" height="450" width="350">
            <div class="text-center row" ng-show="!currentUser">
              <!-- <a class="btn btn-block btn-primary" href="/cart/cart.id">Add to Cart</a> -->
              <button ng-click='addToCart($scope.product)'class="btn btn-block btn-primary">Add To Cart</button>Quantity
               <span  editable-select="quantity" e-name='quantity'  e-ng-options="s for s in [1, 2, 3, 4, 5]">{{quantity}}</span>

               
            
              <a class="btn btn-block btn-primary" href="/cart/{{cartId}}">see Cart</a>
            </div>
          </div>
          <div class="media-body">
            <h2 class="media-heading">
            {{product.name}}
            <span class="pull-right text-danger">${{product.price}}</span>
            </h2>
            <h5>
            Status: <span
             class="text-danger">{{product.isAvailable}}</span>
            </h5>
            <h4><i>Description:</i></h4>
            <p>{{product.description}}</p>
             
          </div>
        </div>
      </div>
    </div>
  
      



<div class="col-md-8" id="abilities">
        <ul class="no-bullets">
          <div class="editTitles" ng-show="textBtnFormSkill.$visible">Skill Name</div>
          <li class= 'menu-left'>
            <span class="ability-title" editable-text="skill.skill.name">{{skill.skill.name}}</span>
            <div class="editTitles" ng-show="textBtnFormSkill.$visible">Skill Level</div>
            <span editable-select="skill.skill.level" e-name="textBtnFormSkill" e-ng-options="stars for stars in [5,4,3,2,1]">
            </span>
            <span class="ability-score">

            <span class="glyphicon glyphicon-star filled" ng-repeat="i in getNumber(skill.skill.level) track by $index" ng-hide="textBtnFormSkill.$visible"></span>
  
            </span>
          </li>
          <!--  <strong editable-text = "skill.skill.level">{{skill.skill}}</strong> -->
        </ul>
        <div class = "row">
          <ul>
            <center>
            <span ng-show="textBtnFormSkill.$visible">
            <md-button type="submit" class="md-raised md-primary glyphicon glyphicon-saved" ng-disabled="textBtnFormSkill.$waiting">
            Save
            </md-button>
            <md-button type="button" class="md-raised glyphicon glyphicon-remove-sign" ng-disabled="textBtnFormSkill.$waiting" ng-click="textBtnFormSkill.$cancel()">
            Cancel
            </md-button>
            </span>
            <md-button class="md-raised md-warn glyphicon glyphicon-trash" ng-click="deleteFilteredItem(skill.$$hashKey, profileInformation.linkedin.skills.values)" ng-show="textBtnFormSkill.$visible"> Delete</md-button>
          </center>
          </ul>
          </div>
      </div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
  <div class="panel panel-default">
      <div class="panel-heading">


        <span class="glyphicon glyphicon-play"></span> Reviews
      </div>
      <div class="panel-body">
        <div>
          <h4>{{product.review}}
          </h4>
          <div>
            <div class="ratings">
              <p class="pull-right">3 reviews</p>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
              4.0 stars
              </p>
            </div>
          </div>
          <!-- {{episode.firstAired | date: 'short'}} -->
          </p>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>

